.Answer {
    margin: 0 40px;

    label {
        flex: 0 0;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 300;
        text-align: left;
        cursor: pointer;
        color: #CCC;
        margin-right: 40px;
        border-radius: 3px;
        transition: all .3s ease-out;

        &.active {
            color: #000;
        }
    }
}